.content {
  color: white;
  background-color: black;
  width: 50%;
}

.display {
  color: black;
  background-color: white;
  padding: 1rem;
}

.btns {
  height: 30px;
  width: 90px;
  color: white;
  background-color: black;
  border: none;
}

.btns:focus {
  outline: none;
  color: black;
  background-color: white;
}

.body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}